@import url("slider.css");
@import url("gridInfo.css");
@import url("aboutUs.css");
@import url("moreInfo.css");
@import url("map.css");
@import url("responsive.css");
* {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    overflow: hidden;
    margin: 0px;
}

.content {
    font-family: 'Open Sans Regular';
}

.content h1,
h3 {
    font-family: 'Oswald Regular';
}